server_host=localhost
server_port=8385
basePath=/api/v1
db_host=localhost
db_name=salus
db_port=5432
db_user=dart
db_pass=dart
db_schemas=public
db_use_pool=true
db_pool_size=1
expose_problem_debug_details=false
backend_log_enabled=true
backend_log_level=INFO
